[project]
	description = An application to automate source codes online 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Diljit PR (devdil)
[access "refs/for/refs/*"]
	read = group user/Diljit PR (devdil)
	push = group user/Diljit PR (devdil)
	label-Code-Review = -2..+2 group user/Diljit PR (devdil)
	label-Verified = -1..+1 group user/Diljit PR (devdil)
	rebase = group user/Diljit PR (devdil)
	removeReviewer = group user/Diljit PR (devdil)
	submit = group user/Diljit PR (devdil)
[access "refs/heads/*"]
	read = group user/Diljit PR (devdil)
	create = group user/Diljit PR (devdil)
	push = +force group user/Diljit PR (devdil)
	pushMerge = group user/Diljit PR (devdil)
[access "refs/tags/*"]
	push = +force group user/Diljit PR (devdil)
	pushTag = group user/Diljit PR (devdil)
	pushSignedTag = group user/Diljit PR (devdil)
